<table class="hourly">
    @for (var i = 0; i < Model.Forecast.Count; i++)
    {
        var h = Model.Forecast[i];
        var color = "#fff";

        if (i % 2 == 1)
        {
            color = "#E0E0E0";
        }
        <text>
            <tr style="background-color:@color;">
                <td rowspan="2" class="hour">
                    @h.HourFormat
                </td>
                <td class="temperature" rowspan="2">@h.Temperature&deg; F <br /><span class="hLabel">Temp</span></td>
                <td class="icon">
                    <i class="wi @h.Icon" style="font-size: 25px; line-height:25px;"></i>
                </td>
                <td>
                    @h.PrecipProbabilityFormat<br />
                    <span class="hLabel">Precip</span>
                </td>
            </tr>
            <tr style="background-color:@color;">
                <td>
                    <i class="wi @h.WindBearingIcon" style="font-size: 20px; line-height:20px;"></i> @h.WindSpeed <br />
                    <span class="hLabel">Wind</span>
                </td>
                <td>
                    @h.HumidityFormat<br />
                    <span class="hLabel">Humidity</span>
                </td>
            </tr>
        </text>
    }
</table>
