@model WeatherApp.Models.CurrentWeather 
@{
    ViewBag.Title = "Current Weather";
}

<h2>Current Weather</h2>

<div class="quickWeather">
    <div class="temperature">
        <span class="actual">@Html.DisplayTextFor(model => model.Temperature)&deg;</span><br />
        Feels like: <span class="apparent">@Html.DisplayTextFor(model => model.ApparentTemperature)&deg;</span>
    </div>
    <div class="weatherIcon">
        <i class="wi wi-day-sunny-overcast" style="margin-top: -50px;"></i>
    </div>
    <div class="summary">
        <span>@Html.DisplayTextFor(model => model.Summary) </span>
    </div>
    <div class="details">
        Humidity: @Html.DisplayTextFor(model => model.Humidity) <br />
        Precip Chance: @Html.DisplayTextFor(model => model.PrecipProbability)<br />
        Wind: @Html.DisplayTextFor(Model => Model.WindBearing) at @Html.DisplayTextFor(Model => Model.WindSpeed) MPH
    </div>
</div>